{% extends 'index.html' %}




{% block content %}
<form id="form" autocomplete="off" method="POST">
    <div class="social">
        <div class="title">Get Started</div>
        <div class="question">
            Don't Have An Account? <br>
            <a href="register" style="color: black;text-decoration: none;font-weight:bold;">Sign Up</a>
        </div>

        <div class="btn">
            <div class="btn-1">
                <img 
                src="https://img.icons8.com/color/30/000000/google-logo.png"
                />
                Sign Up
            </div>
            <div class="btn-2">
                <img src="https://img.icons8.com/color/32/ffffff/facebook-circled.png"/>
                Sign Up
            </div> 
        </div>

        <div class="or">Or</div>
    </div>
    <!-- 
        User name email
    -->
    <div>
        <label for="email">Email</label>
        <i class="fas fa-envelope-open"></i>
        <input type="email" name="email" id="email" placeholder="abc@gmail.com" >
        <i class="far fa-thumbs-up success-icon"></i>
        <i class="fas fa-exclamation-circle failure-icon"></i>
        <div class="error"></div>
    </div>
     <!-- 
        User name password
    -->
    <div>
        <label for="password">Password</label>
        <i class="fas fa-lock"></i>
        <input type="password" name="password" id="password" placeholder="Password Here" >
        <i class="far fa-thumbs-up success-icon"></i>
        <i class="fas fa-exclamation-circle failure-icon"></i>
        <div class="error"></div>
    </div>

    <button type="submit" id="submit">Log In</button>
</form>



{% endblock %}