{% extends 'HomePageBase.html' %}
{% block title %}
<title>Account</title>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card" id="radius-body" style="background-color: #dbe5ef;">
                <div class="card-body">
                    <div class="container d-flex flex-column justify-content-center align-items-center">
                    
                        <img class="my_image" src="{{ image_file }}">
                        <h3 style="color: black; font-family: 'Poppins',sans-serif;">{{current_user.username}}</h3>
                        <form method="POST" autocomplete="off" enctype="multipart/form-data">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.username.label(class="form-label") }}
                                {% if form.username.errors %}
                                {{ form.username(class="form-control is-invalid") }}
                                {% for i in form.username.errors %}
                                <div class="invalid-text">
                                    <span>{{ i }}</span>
                                </div>
                                {% endfor %}
                                {% else %}
                                <p style="text-align: center;">{{ form.username( class="form-control log_form") }}</p>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.email.label(class="form-label") }}
                                {% if form.email.errors %}
                                {{ form.email(class="form-control is-invalid") }}
                                {% for i in form.email.errors %}
                                <div class="invalid-text">
                                    <span>{{ i }}</span>
                                </div>
                                {% endfor %}
                                {% else %}
                                <p>{{ form.email( class="form-control log_form") }}</p>
                                {% endif %}
                            </div>

                            <div class="upload-pic">
                                {{ form.picture.label(class="form-label") }}
                                {% if form.picture.errors %}
                                {{ form.picture(class="form-control is-invalid") }}
                                {% for i in form.picture.errors %}
                                <div class="invalid-text">
                                    <span>{{ i }}</span>
                                </div>
                                {% endfor %}
                                {% else %}
                                <p>{{ form.picture( class="form-control log_form") }}</p>
                                {% endif %}
                            </div>

                            <div id="submit">
                                {{ form.submit (class="btn btn-dark",onclick=("myFunction()")) }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}