{% extends 'HomePageBase.html' %}
{% block title %}
<title>Account</title>
{% endblock %}

{% block content %}
<div class="container-sm my-5" id="custom-login">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card text-light" id="radius-body" style="background-color: #20273c;">
                <div class="card-body">
                    <div class="container" id="form-email">
                        <img class="my_image" src="{{image_file}}">
                        <h3 style="font-family: 'Poppins',sans-serif;" class="text-light">{{current_user.username}}</h3>
                        <a href="{{url_for('delete_user')}}" class="btn btn-outline-info btn-sm"
                            style="font-family: 'Poppins';">Delete account</a>
                    </div>
                    <form method="POST" autocomplete="off" enctype="multipart/form-data"
                        style="font-family: 'Poppins',sans-serif;">
                        {{ form.hidden_tag() }}
                        <div class="form-group" >
                            {{ form.username.label(class="form-label") }}
                            {% if form.username.errors %}
                            {{ form.username(class="form-control is-invalid log_form") }}
                            {% for i in form.username.errors %}
                            <div class="invalid-text">
                                <span>{{ i }}</span>
                            </div>
                            {% endfor %}
                            {% else %}
                            <p style="text-align: center;">{{ form.username( class="form-control log_form") }}</p>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.email.label(class="form-label") }}
                            {% if form.email.errors %}
                            {{ form.email(class="form-control is-invalid log_form") }}
                            {% for i in form.email.errors %}
                            <div class="invalid-text">
                                <span>{{ i }}</span>
                            </div>
                            {% endfor %}
                            {% else %}
                            <p>{{ form.email( class="form-control log_form") }}</p>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.picture.label(class="form-label") }}
                            {% if form.picture.errors %}
                            {{ form.picture(class="form-control is-invalid log_form") }}
                            {% for i in form.picture.errors %}
                            <div class="invalid-text">
                                <span>{{ i }}</span>
                            </div>
                            {% endfor %}
                            {% else %}
                            <p>{{ form.picture( class="form-control log_form") }}</p>
                            {% endif %}
                        </div>

                        <div id="submit">
                            {{ form.submit (class="btn btn-outline-info",onclick=("myFunction()")) }}
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}