{% extends 'HomePageBase.html' %} {% block title %}
<title>Contact-Us</title>
{% endblock %}
{%block content%}

<div class="container-sm my-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card" id="radius-body" style="background-color: #dbe5ef;">
                <div class="card-body">
                    <section class="get-in-touch">
                        <div style="text-align: center; font-family: 'Poppins',sans-serif; font-size: 1.4rem;"
                            id="sign-msg" class="mb-5 text-muted">
                            Get-in-touch | Message Us
                        </div>
                        <form class="contact-form row" style="font-family: 'Poppins';" autocomplete="off" method="POST" action="{{url_for('contact')}}">
                            <div class="form-field col-lg-6">
                                <input id="name" class="input-text js-input" type="text" required name="name"
                                    style="background-color: #dbe5ef;">
                                <label class="label " for="name" style="color: black;">Name</label>
                            </div>

                            <div class="form-field col-lg-6 ">
                                <input id="email" class="input-text js-input" type="email" required
                                    style="background-color: #dbe5ef;" name="email">
                                <label class="label" for="email" style="color: black">E-mail</label>
                            </div>

                            <div class="form-field col-lg-12">
                                <input id="message" class="input-text js-input" type="text" required
                                    style="background-color: #dbe5ef;" name="message">
                                <label class="label" for="message" style="color: black">Message</label>
                            </div>
                            <div class="form-field col-lg-12" style="text-align: center;">
                                <input class="btn btn-dark" type="submit" value="Send Message"
                                    style="border-radius: 1rem; font-family: 'Poppins';">
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}