{% extends 'HomePageBase.html' %}
{% block title %}
<title>Shastechy - Consistent-JobUpdates</title>
{% endblock %}
{% block content %}
<div class="container">
    <form class="d-flex justify-content-center mt-0">
        <input class="form-control me-2 " type="text" autocomplete="off" placeholder="Search Company"
            aria-label="Search" id="myinput" onkeyup="tablesearch()"
            style="width: 25%;min-width: 15rem; font-family: 'Poppins',sans-serif;">
    </form>
    <hr class="my-3 text-info">
</div>

<div class="container" id="custom-table-width">
    <table id="mytable"
        class="table table-secondary table-sm table-striped bg-dark table-responsive table-borderless table-full caption-top ">
        <caption class="text-muted" id="caption" style="text-transform: capitalize; font-weight: bold;">List of Jobs
        </caption>
        <thead class="sticky-top align-middle">
            <tr style="color: white; letter-spacing: 1px; font-weight: bold;" class="table bg-secondary">
                <th class="th-color">Company-Name</th>
                <th>Position</th>
                <th>Salary</th>
                <th>Eligibility</th>
                <th>Branch</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            {% for user in data.items[::-1] %}
            <tr>
                <td style="font-size: 1.3rem;">{{ user.companyname }}<br>
                    <a href="{{ url_for('joblink',comp_name=user.companyname,id=user.id) }}"
                        class="badge rounded-pill bg-info"
                        style="text-decoration: none;text-transform: capitalize; font-size: 13px; color: blue;">Apply
                        Here</a>
                </td>
                <td class="text-muted" style="font-weight: 600; font-size: 1.1rem; text-transform: capitalize;">{{
                    user.jd }}</td>
                <td style="text-transform: uppercase; font-weight: 600" class="text-muted">{{ user.salary }}</td>
                <td class="text-muted" style="font-weight: 600; font-size: 1.1rem;">{{ user.eligibility }}</td>
                <td class="text-muted" style="font-weight: 600; font-size: 1.1rem;">{{ user.branch }}</td>
                <td style="text-transform: capitalize; font-weight: 600" class="text-muted">{{ user.location }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container-md mb-5" style="text-align: center;">
    {% for page_num in data.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
    {% if page_num %}
    {% if data.page == page_num %}
    <a class="btn btn-info btn-sm mb-4" href="{{ url_for('jobs', page=page_num) }}">{{ page_num }}</a>
    {% else %}
    <a class="btn btn-outline-info btn-sm mb-4" href="{{ url_for('jobs', page=page_num) }}">{{ page_num }}</a>
    {% endif %}
    {% else %}
    <-->
        {% endif %}
        {% endfor %}
</div>

<script>
    function tablesearch() {
        let input, filter, table, te, td, txtvalue;

        input = document.getElementById("myinput");
        filter = input.value.toUpperCase();
        table = document.getElementById("mytable");
        tr = table.getElementsByTagName("tr")

        for (let i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtvalue = td.textContent || td.innerText;
                if (txtvalue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
{% endblock %}