{% extends 'HomePageBase.html'%}
{% block title %}
<title>shastechy -Home</title>
{% endblock%}

{%block content %}
<div class="container-sm my-4" style="font-family: 'Poppins',sans-serif;">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card mb-4 card-style" style="cursor: pointer;background: #ffffff0d;">
                <div class="card-header" style="background-color: #20273c;">
                    <h5 class="text-white text-center lead">DSA - Questions</h5>
                </div>
                <div class="card-body">
                    <h6 id="h6-style" class="card-title mb-4">Here You can find Important concepts in Data
                        Structures and Algoriths, for
                        coding interviews.</h6>
                    <p class="card-text lead" style="font-size: 1rem; color: #ffffffc7;text-transform: capitalize; ">Problems in data Structures</p>
                    <a class="btn btn-outline-danger" href="/">Get started</a>
                </div>

                <div class="card-footer" style="background: #20273c;">
                    <small class="text-muted">Last Updated: Aug 2020</small>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="card mb-4 card-style" style="cursor: pointer;background: #ffffff0d;">
                <div class="card-header" style="background-color: #20273c;">
                    <h5 class="text-white text-center lead" style="font-family: 'Poppins';">Leetcode - Questions</h5>
                </div>
                <div class="card-body">
                    <h6 id="h6-style" class="card-title mb-4">Here You can find different levels of
                        problems and its solution for Leetcode questions</h6>
                    <p class="card-text lead" style="font-size: 1rem; color: #ffffffc7; text-transform: capitalize;">Day-to-Day Leetcode Problems</p>
                    <a class="btn btn-outline-danger" href="/">Get started</a>
                </div>

                <div class="card-footer"style="background: #20273c;">
                    <small class="text-muted">Last Updated: Aug 2020</small>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="card mb-4 card-style" style="cursor: pointer;background: #ffffff0d;">
                <div class="card-header" style="background-color: #20273c;">
                    <h5 class="text-white text-center lead">Blogs / Articles</h5>
                </div>
                <div class="card-body">
                    <h6 id="h6-style" class="card-title mb-4">Consistent blog updates about Technologies..
                    </h6>
                    <a class="btn btn-outline-danger" href="{{url_for('blogs')}}">Tech Blogs</a>
                </div>

                <div class="card-footer" style="background: #20273c;">
                    <small class="text-muted">Last Updated: Aug 2020</small>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="card mb-4 card-style" style="cursor: pointer;background: #ffffff0d;">
                <div class="card-header" style="background-color: #20273c;">
                    <h5 class="text-white text-center lead">Apply Jobs</h5>
                </div>
                <div class="card-body">
                    <h6 id="h6-style" class="card-title mb-4">Daily job updates</h6>
                    <p class="card-text lead" style="font-size: 1rem; color: #ffffffc7; text-transform: capitalize;">Fresher Openings</p>
                    <a class="btn btn-outline-danger" href="{{url_for('jobs')}}">Job-Openings</a>
                </div>
                <div class="card-footer" style="background: #20273c;">
                    <small class="text-muted">Last Updated: Aug 2020</small>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="card mb-4 card-style" style="cursor: pointer;background: #ffffff0d;">
                <div class="card-header" style="background-color: #20273c;">
                    <h5 class="text-white text-center lead">Websites / Portfolio development</h5>
                </div>
                <div class="card-body">
                    <h6 id="h6-style" class="card-title mb-4">Building Responsive websites,
                        Our websites are designed to work seamlessly on all devices.</h6>
                </div>

                <div class="card-footer"style="background: #20273c;">
                    <small class="text-muted">For Queries : </small>
                    <a class="btn btn-sm btn-outline-danger" href="{{url_for('contact')}}">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}