{% extends 'HomePageBase.html' %}
{% block title %}
<title>shastechy -ProblemSolving</title>
{% endblock %}

{% block content %}
<form class="d-flex justify-content-center mt-0" method="POST" action="{{url_for('search')}}">
    {{ form.hidden_tag() }}
    <input class="form-control me-2 " type="text" autocomplete="off" placeholder="Search Questions" name="searched"
        aria-label="Search" id="myinput" style="width: 25%; min-width: 15rem; font-family: 'Poppins',sans-serif;">
</form>
<div class="container">
    <div class="container-sm">
        <div class="container-sm text-center" style="font-family: 'Poppins',sans-serif;">
            <hr class="my-3 text-info">
            <p class="text-muted text-capitalize fw-bold lead mb-1" style="font-size: 1.6rem;">Problem: <small class="text-light display-6 lead text-capitalize" style="font-size: 24px; font-family: 'Varela Round', sans-serif;">{{latest_update.ques_topic}}</small> </p>
            <p class="text-muted">Posted on : {{latest_update.posted_date.strftime('%d-%b-%Y')}}</p>
        </div>
        <div class="container mb-5 py-4 px-3" style="background-color:#20273c;color: #ffffffc7;">
            <h4 id="h4-style">question:</h4>
            <p id="h6-style" class="mb-4 mx-3">{{latest_update.question}}</p>
            <h4 id="h4-style">input:</h4>
            <p id="h6-style" class="mb-4 mx-3">{{latest_update.input}}</p>
            <h4 id="h4-style">output:</h4>
            <p id="h6-style" class="mb-4 mx-3">{{latest_update.output}}</p>
            <h4 id="h4-style">explanation:</h4>
            <p id="h6-style" class="mb-4 mx-3">{{latest_update.explanation}}</p>
            <div class="container">
                <h4 id="h4-style">Solution in Python:</h4>
                <pre id="custom-scrollbar" class="px-3 pt-2" style="background: rgb(0 0 0 / 30%);">
                    <code class="language-python">{{latest_update.code}}</code>
                </pre>
            </div>
        </div>
    </div>
</div>

<div class="container-sm mb-5">
    <p class="text-muted lead fw-bold">Also Check:</p>
    <div class="container list-group">
        {% for i in all_blog_topic %}
            {% if i.id != last_front.id and i.id != latest_update.id %}
                <a href="{{ url_for('codingquestions',question_name=i.ques_topic.strip(),id=i.id) }}" class=" hover-underline-animation list-group-item list-group-item-action text-capitalize poppin-font text-info hov" style="background: #ffffff0d;">{{i.ques_topic}}<small class="float-end poppin-font text-success">Posted: {{i.posted_date.strftime('%d-%b-%y')}}</small></a>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}