{% extends 'HomePageBase.html' %}
{% block title %}
<title>shastechy -SignUp</title>
{% endblock %}


{%block content%}
<div class="container-sm my-5 m-auto" id="custom-login">
    <div class="row">
        <div class="col-sm-6 mx-auto">
            <div class="card m-auto" id="radius-body" style="background-color: #20273c;">
                <div class="card-body">
                    <form method="POST" autocomplete="off" style="font-family: 'Poppins',sans-serif;">
                        <div style="text-align: center; font-family: 'Poppins',sans-serif; font-size: 1.3rem;" id="sign-msg" class="text-muted">
                            Already Have an account?
                            <a style="font-size: 1.4rem; margin-left: 0.8rem; text-decoration: none;" class="text-info" href="{{url_for('login')}}">Login</a>
                        </div>
                        
                        {{ form.hidden_tag() }}
                        <div class="form-group text-light" id="form-email">
                            {{ form.username.label(class="form-label") }}
                            {% if form.username.errors %}
                            {{ form.username(class="form-control is-invalid") }}
                            {% for i in form.username.errors %}
                            <div class="invalid-text">
                                <span>{{ i }}</span>
                            </div>
                            {% endfor %}
                            {% else %}
                            <p>{{ form.username( class="form-control log_form" ) }}</p>
                            {% endif %}
                        </div>

                        <div class="form-group text-light"id="form-email">
                            {{ form.email.label(class="form-label") }}
                            {% if form.email.errors %}
                            {{ form.email(class="form-control is-invalid") }}
                            {% for i in form.email.errors %}
                            <div class="invalid-text">
                                <span>{{ i }}</span>
                            </div>
                            {% endfor %}
                            {% else %}
                            <p>{{ form.email( class="form-control log_form") }}</p>
                            {% endif %}
                        </div>
                        
                        <div class="form-group text-light" id="form-email">
                            {{ form.password.label(class="form-label") }}
                            {% if form.password.errors %}
                            {{ form.password(class="form-control is-invalid")}}
                            {%for i in form.password.errors %}
                            <div class="invalid-text">
                                <span>{{ i }}</span>
                            </div>
                            {% endfor %}
                            {% else %}
                            <p>{{ form.password( class="form-control log_form") }}</p>
                            {% endif %}
                        </div>
                        
                        <div class="form-group text-light" id="form-email">
                            {{ form.confirm_password.label(class="form-label") }}
                            {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control is-invalid") }}
                            {%for i in form.confirm_password.errors %}
                            <div class="invalid-text">
                                <span>{{ i }}</span>
                            </div>
                            {% endfor %}
                            {% else %}
                            <p>{{ form.confirm_password( class="form-control log_form") }}</p>
                            {% endif %}
                        </div>
                        
                        <div class="form-group" style="text-align: center;">
                            {{ form.submit (class="btn btn-outline-info")}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}