hmtl {
    width: 100vw;
}

body {
    min-height: 100vh;
    width: 100%;
    background: #e2e3e5;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

table {
    font-family: 'Poppins', sans-serif;
}

.table>:not(:first-child) {
    border-top: none;
}

th {
    text-transform: uppercase;
}

th,
td {
    padding: .8rem;
    font-size: 1.1rem;
    text-align: center;
}

td:first-child {
    text-transform: capitalize;
}

td:nth-child(3),
td:nth-child(5) {
    text-transform: capitalize;
}

#footer {
    margin-top: auto;
    padding-right: 0;
    padding-left: 0;
}

.table-full {
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    margin-top: 30px;
    margin-bottom: 50px;
    border-collapse: collapse;
    outline: none;
    height: 150px;
    overflow-y: auto;
    vertical-align: middle;
}

.sticky-top {
    top: -1px;
}

#myinput {
    text-align: center;
}

.nav-link {
    font-size: 1.2rem;
}

#myinput {
    border-radius: 3rem;
    border: none;
}

#home-nav,
.dp {
    margin-left: 1rem;
}

.dp {
    margin-right: 1rem;
}

.navbar {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

#login-form {
    text-align: -webkit-center;
}
#radius-body{
    border-radius: 2rem;
    background: #e2e3e5;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;

}
#custom-login{
    margin-top: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* snack bar */
#snackbar {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 50%;
    /* Set a default minimum width */
    /* margin-left: 50%; Divide value of min-width by 2 */
    background-color: pink;
    /* Black background color */
    color: black;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    /*Center the snackbar*/
    bottom: 30px;
    /* 30px from the bottom */
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 3s;
    animation: fadein 0.5s, fadeout 0.5s 3s;
}
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@media screen and (max-width:630px) {
    .table-secondary::after {
        color: black;
    }
    tr {
        background-color: #e2e3e5;
    }
    body {
        background-color: #e2e3e5;
    }
    .table-bordered>:not(caption)>* {
        border-width: 0
    }
    table {
        border: none;
    }
    thead {
        display: none;
    }
    td {
        display: block;
    }
    td:last-child {
        margin-bottom: 10px;

    }

    td:first-child {
        /* border-top-left-radius: 1rem; */
        /* border-top-right-radius: 1rem; */
        background: rgb(127, 76, 128);
        color: lightgrey;
        font-weight: bolder;
        text-align: center;
        text-transform: capitalize;
    }
    td:nth-child(2)::before {
        content: "JobLink -> ";
    }
    td:nth-child(3)::before {
        content: "Role -> ";
    }
    td:nth-child(4)::before {
        content: "Salary -> ";
    }
    td:nth-child(5)::before {
        content: "Eligibility-> ";

    }
    td {
        text-align: right;

    }
    td::before {
        float: left;
        margin-right: 4rem;
        font-weight: 500;
        color: black;
    }
    .table-striped>tbody>tr:nth-of-type(odd)>* {
        --bs-table-accent-bg: none;
        border-bottom: none;
    }
    .table-borderless>:not(caption)>*>* {
        border-bottom-width: 0;
    }
    .table-striped>tbody>tr:nth-of-type(odd)>* {
        color: black;
    }
    .table-striped>tbody>tr:nth-of-type(even)>* {
        color: black;
    }
    /* #top-container-home,
    #topnav {
        position: fixed;
        top: 0;
    } */
    #caption {
        margin-top: 60px;
    }
    #home-btn {
        margin-right: 20px;
    }
    #home-nav,
    .dp {
        margin-left: 10px;
    }
    #custom-login{
        margin-top: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .navbar-dark .navbar-toggler {
        color: black;
}
}