hmtl {
    width: 100vw;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
}
.poppin-font{
    font-family: 'Poppins',sans-serif;
}
.round-font{
    font-family:  'Varela Round', sans-serif;
}
body {
    text-rendering: optimizeLegibility;
    min-height: 100vh;
    width: 100%;
    background: #09091b;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

table {
    font-family: 'Poppins', sans-serif;
}

.table>:not(:first-child) {
    border-top: none;
}

th {
    text-transform: uppercase;
}

th,
td {
    padding: .8rem;
    font-size: 1.1rem;
    text-align: center;
}

td:first-child {
    text-transform: capitalize;
}

td:nth-child(3),
td:nth-child(5) {
    text-transform: capitalize;
}

#footer {
    margin-top: auto;
    padding-right: 0;
    padding-left: 0;
}

.table-full {
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    margin-top: 30px;
    margin-bottom: 50px;
    outline: none;
}

.sticky-top {
    top: -1px;
}
.form-control{
    border-radius: 1rem;
}
.my_image{
    border-radius: 50%;
    height: 100px;
}
.nav-link {
    font-size: 1.2rem;
}
#blogsearch{
    height: 2rem;
}
#myinput {
    border-radius: 3rem;
    color: white;
    border: none;
    background: #20273c;
    text-align: center;
    margin-top: 1rem;
    padding: 0.625rem 0.875rem;
}
#home-nav,
.dp {
    font-size: 1.2rem;
    text-decoration: none;
    outline: none;
    position: relative;
    line-height: 1.5rem;
    margin-top: -1rem;
    padding: 0.625rem 0.875rem;
}
#home-nav:hover{
    border: none;
    border-radius: 1000rem;
    background-color: #ffffff14;
    -webkit-font-smoothing: antialiased;
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
  }
  
.hover-underline-animation:after {
content: '';
position: absolute;
width: 100%;
transform: scaleX(0);
height: 2px;
bottom: 0;
left: 0;
background-color: #0087ca;
transform-origin: bottom right;
transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
transform: scaleX(1);
transform-origin: bottom left;
}

.navbar {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

#login-form {
    text-align: -webkit-center;
}
#radius-body{
    border-radius: 2rem;
    background: #e2e3e5;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
}

#custom-login{
    /* margin-top: auto; */
    padding-left: 1rem;
    padding-right: 1rem;
}
#sign-msg{
    margin-bottom: 40px;
}
#form-email, #form-password, #form_button, #form-username{
    text-align: -webkit-center;
    font-family: 'Poppins',sans-serif;
}

#form-email{
    margin-bottom: 30px;
}
.log_form{
    width: auto;
}
#h6-style{
    font-family:'Poppins',sans-serif; 
    color: #ffffffc7;
    line-height: 1.4rem; 
    font-weight: 350;
    font-size: 1rem;
}
#h4-style{
    color: #83a3c3;
    font-weight: 700;
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem;
    text-transform: capitalize;
    line-height: 1.5rem;
}

.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #20273c;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}
.social-icons .social-icon:last-child {
margin-right: 0;
}
.social-icons .social-icon:hover {
background-color: #ffffff14;
}
#snackbar {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    min-width: 50%;
    background-color: pink;
    color: black;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 3s;
    animation: fadein 0.5s, fadeout 0.5s 3s;
}
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

/* preloader jet */
#splash {
    background: #53636e;
    background-repeat: repeat-y;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: splash 3s ease-in;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
  
  #loader {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,0);
  }
  
  #loader:after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -8px;
    bottom: -170px;
    width: 3px;
    background: #fff;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    height: 200px;
  }
  
  #loader:before {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: 8px;
    bottom: -190px;
    width: 3px;
    background: #000;
    background: linear-gradient(to bottom, rgba(0,0,0,.2) 0%, rgba(0,0,0,.2) 50%, rgba(0,0,0,0) 100%);
    height: 200px;
  }
  
  #splash .anim {
    height: 100%;
    position: absolute;
    left: 50%;
    width: 100px;
    transform: translate(-50%,100%);
    animation: loader 4s linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
  #custom-scrollbar {
    overflow-y: scroll;
  }
  
  #custom-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 8px;
  }
  
  #custom-scrollbar::-webkit-scrollbar-track {
    background: #1E3F20;
    border-radius: 12px;
  }
  
  #custom-scrollbar::-webkit-scrollbar-thumb {
    background: #4A7856;
    border-radius: 12px;
  }
  @keyframes loader {
    0% {
      transform: translate(-50%,110%);
    }
    30% {
      transform: translate(-50%,50%);
    }
    100% {
      transform: translate(-50%,0%);
    }
  }
  
  @keyframes splash {
    0% {
      transform: translate(0%,0%);
    }
    50% {
      transform: translate(0%,0%);
    }
    100% {
      transform: translate(0%,-100%);
    }
  }
  /*mobile phone media   query  */

@media screen and (max-width:630px) {
    #logo{
        margin-left: 1rem;
    }

    #custom-table-width{
        max-width: initial;
        padding-left: 1rem;
        padding-right: 1rem;

    }

    .table-secondary::after {
        color: black;
    }
    tr {
        background-color: #e2e3e5;
    }
    body {
        background-color: #09091b;
    }
    .table-bordered>:not(caption)>* {
        border-width: 0
    }
    table {
        border: none;
    }
    thead {
        display: none;
    }
    td {
        display: block;
    }
    td:last-child {
        margin-bottom: 10px;

    }
    td:first-child {
        background: #20273c;;
        color: white;
        font-weight: bold;
        text-align: center;
        text-transform: capitalize;
    }
    td:nth-child(2)::before {
    content: "Position :";
    }
    td:nth-child(3)::before {
        content: "Salary :";
    }
    td:nth-child(4)::before {
        content: "Batch :";
    }
    td:nth-child(5)::before {
        content: "Branch :";
    }
    td:nth-child(6)::before {
        content: "Location : ";
    }
    td {
        text-align: right;
        font-size: 1rem;
    }
    td::before {
        float: left;
        margin-right: 4rem;
        font-weight: bold;
        color: darkslateblue;
        outline: none;
    }
    .table-striped>tbody>tr:nth-of-type(odd)>* {
        --bs-table-accent-bg: none;
        border-bottom: none;
    }
    .table-borderless>:not(caption)>*>* {
        border-bottom-width: 0;
    }
    .table-striped>tbody>tr:nth-of-type(odd)>* {
        color: black;
    }

    #caption {
        margin-top: 35px;
    }
    #home-btn {
        margin-right: 20px;
    }

    #custom-login{
        margin-top: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .navbar-dark .navbar-toggler {
        color: #445e74;
}
    #recent-article{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    #home-nav{
        margin-top: 1rem;
    }
}