*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    position: relative;
    margin: 0;
    background-image: url('./bg.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    scroll-behavior: smooth;

}

#navbar{
    position: fixed;
    top: -80px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    gap: 20px;
    width: 100%;
    background-color: black;
    transition: top 0.3s;
}
#user{
    margin-top: 20px;
    font-weight: lighter;
}
a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: ease-out;
    margin-top: 10px;
}
a:hover{
    color: whitesmoke;
    font-weight: bold;
    transform: scale(1.2);
    transition-duration: 0.4s;
}

/**
Navigation and top are over
**/

.container{
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    height: 100vh;
    max-width: 100%;
    background-color: white;
   
}

#submit {
    display: flex;
    align-items: center;
    justify-content:center;
    transition: ease-in;
    margin-top: 10px;
    
}


.form-group{
    width: 100%;
}

.form-label{
    font-family: 'Poppins', sans-serif;
    color: darkslateblue;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.form-control{
    width: 50ch
}

.pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family :' Poppins', sans-serif;
    margin-bottom: 10px;
}
.my_image{
    border-radius: 50%;
    height: 70px;
    border: 2px solid rebeccapurple; 

}

.upload-pic{
    display: flex;
    flex-direction: column;
}

.invalid-text{
    color: darkred;
    /* font-weight: lighter; */
    font-family :' Poppins', sans-serif;
    font-size: small;
    margin-top: 4px;
}




/**
Footer
**/
.container-footer {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    overflow: hidden;
    margin-top: 0;
    background: #262626;
    color: #627482 !important;
    padding: 5px;
    margin-bottom: 0;
    height: 250px;
    font-family: ' Poppins', sans-serif;
}

.f-box, .t-box{
    margin-top: 20px;
    margin-left: 50px;
    /* border: 2px solid white;  */
    height: 100px;
    width: 400px;
}

.foot-mail{
    font-size: medium;
    margin-top: 15px;
}
.add{
    margin-top: 20px;
    font-family: cursive;
    margin-left: 32px;

}


#snackbar {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 50%; /* Set a default minimum width */
    /* margin-left: 50%; Divide value of min-width by 2 */
    background-color: pink; /* Black background color */
    color: black; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /*Center the snackbar*/
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 3s;
    animation:  fadein 0.5s, fadeout 0.5s 3s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }